@model Contact


<tr>
    <td>@Model.Name</td>
    <td>@Model.Email</td>
    <td>@Model.Status </td>
    <td>
        <button class="btn btn-danger"
                hx-post="@Url.Page("Index", "Contact", new { Id = Model.Id })"
                hx-include="closest form">
            Delete
        </button>
    </td>
</tr>