@model IFormFile

<form id='form2' hx-encoding='multipart/form-data' hx-post='@Url.Page("Index", "Upload2")'>
    @Html.AntiForgeryToken()
    <div class="mb-3">
        <label asp-for="@Model" class="form-label">Hyperscript Upload</label>
        <input name="UploadedFile" class="form-control" type="file" accept=".jpg,.jpeg,.png,.gif,.pdf,.txt,.doc,.docx">
    </div>

    <button class="btn btn-primary">
        Upload
    </button>
    <progress id="progress" value='0' max='100' class="mt-2"></progress>
    @if (Model != null)
    {
        <div class="alert alert-success mt-2">
            File uploaded: @Model.FileName
        </div>
    }
</form>