@model IFormFile

<form id='form' hx-encoding='multipart/form-data' hx-post='/FileUpload/index?handler=upload'
      hx-on:htmx:xhr:progress="htmx.find('#js_progress').setAttribute('value', event.detail.loaded / event.detail.total * 100)">
    @Html.AntiForgeryToken()
    <input name="UploadedFile" asp-for="@Model">
    <button class="btn btn-primary">
        Upload
    </button>
    <progress id="js_progress" value='0' max='100'></progress>
</form>