<!-- Navbar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion d-flex flex-column" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a asp-page="/Index" class="sidebar-brand d-flex align-items-center justify-content-center" hx-boost="true">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">htmx Examples</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a asp-page="/Index" class="nav-link">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Nav Item - ActiveSearch -->
    <li class="nav-item">
        <a asp-page="/ActiveSearch/Index" class="nav-link">
            <i class="fas fa-fw fa-table"></i>
            <span>Active Search</span>
        </a>
    </li>

    <!-- Nav Item - BulkUpdate -->
    <li class="nav-item">
        <a class="nav-link" asp-page="/BulkUpdate/Index">
            <i class="fas fa-fw fa-table"></i>
            <span>Bulk Update</span>
        </a>
    </li>

    <!-- Nav Item - ClickToEdit -->
    <li class="nav-item">
        <a class="nav-link" asp-page="/ClickToEdit/Index">
            <i class="fas fa-fw fa-table"></i>
            <span>Click To Edit</span>
        </a>
    </li>

    <!-- Nav Item - ClickToLoad -->
    <li class="nav-item">
        <a class="nav-link" asp-page="/ClickToLoad/Index">
            <i class="fas fa-fw fa-table"></i>
            <span>Click To Load</span>
        </a>
    </li>

    <!-- Nav Item - DeleteRow -->
    <li class="nav-item">
        <a class="nav-link" asp-page="/DeleteRow/Index">
            <i class="fas fa-fw fa-table"></i>
            <span>Delete Row</span>
        </a>
    </li>

    <!-- Nav Item - EditRow -->
    <li class="nav-item">
        <a class="nav-link" asp-page="/EditRow/Index">
            <i class="fas fa-fw fa-table"></i>
            <span>Edit Row</span>
        </a>
    </li>

    <!-- Nav Item - FileUpload -->
    <li class="nav-item">
        <a class="nav-link" asp-page="/FileUpload/Index">
            <i class="fas fa-fw fa-table"></i>
            <span>File Upload</span>
        </a>
    </li>

    <!-- Nav Item - InfiniteScroll -->
    <li class="nav-item">
        <a class="nav-link" asp-page="/InfiniteScroll/Index">
            <i class="fas fa-fw fa-table"></i>
            <span>Infinite Scroll</span>
        </a>
    </li>

    <!-- Nav Item - InlineValidation -->
    <li class="nav-item">
        <a class="nav-link" asp-page="/InlineValidation/Index">
            <i class="fas fa-fw fa-table"></i>
            <span>Inline Validation</span>
        </a>
    </li>

    <!-- Nav Item - LazyLoading -->
    <li class="nav-item">
        <a class="nav-link" asp-page="/LazyLoading/Index">
            <i class="fas fa-fw fa-table"></i>
            <span>Lazy Loading</span>
        </a>
    </li>

    <!-- Nav Item - ProgressBar -->
    <li class="nav-item">
        <a class="nav-link" asp-page="/ProgressBar/Index">
            <i class="fas fa-fw fa-table"></i>
            <span>Progress Bar</span>
        </a>
    </li>

    <!-- Nav Item - Selects -->
    <li class="nav-item">
        <a class="nav-link" asp-page="/Selects/Index">
            <i class="fas fa-fw fa-table"></i>
            <span>Selects</span>
        </a>
    </li>

    <!-- Nav Item - Tabs -->
    <li class="nav-item">
        <a class="nav-link" asp-page="/Tabs/Index">
            <i class="fas fa-fw fa-table"></i>
            <span>Tabs</span>
        </a>
    </li>

    <!-- Nav Item - DialogBrowser -->
    <li class="nav-item">
        <a class="nav-link" asp-page="/DialogBrowser/Index">
            <i class="fas fa-fw fa-window-maximize"></i>
            <span>Dialog Browser</span>
        </a>
    </li>

    <!-- Nav Item - DialogUIKit -->
    <li class="nav-item">
        <a class="nav-link" asp-page="/DialogUIKit/Index">
            <i class="fas fa-fw fa-window-maximize"></i>
            <span>Dialog UIKit</span>
        </a>
    </li>

    <!-- Nav Item - DialogCustom -->
    <li class="nav-item">
        <a class="nav-link" asp-page="/DialogCustom/Index">
            <i class="fas fa-fw fa-window-maximize"></i>
            <span>Dialog Custom</span>
        </a>
    </li>

    <!-- Nav Item - KeyBoardShortcuts -->
    <li class="nav-item">
        <a class="nav-link" asp-page="/KeyBoardShortcuts/Index">
            <i class="fas fa-fw fa-keyboard"></i>
            <span>Keyboard Shortcuts</span>
        </a>
    </li>

    <!-- Nav Item - DragDropSortable -->
    <li class="nav-item">
        <a class="nav-link" asp-page="/DragDropSortable/Index">
            <i class="fas fa-fw fa-arrows-alt"></i>
            <span>Drag & Drop Sortable</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <div class="mt-auto mb-3 sidebar-brand-text mx-3 text-white-50 small">
        Version: @System.Reflection.Assembly.GetEntryAssembly()?.GetName().Version?.ToString()
    </div>

</ul>
<!-- End of Navbar -->