@model Contact

<tr>
    <td>@Model.Name</td>
    <td>@Model.Email</td>
    <td>
        <button class="btn btn-danger"
                hx-get="@Url.Page("Index", "Edit", new { Id = Model.Id })"
                hx-trigger="click">
            Edit
        </button>
    </td>
</tr>